@tailwind base;
@tailwind components;
@tailwind utilities;

@utility container {
  max-width: 1218px;
  padding-inline: 15px;
  margin-inline: auto;
}
body {
  font-family: "PlusJakarta", sans-serif;
}
nav {
  font-family: "Manrope Medium", sans-serif;
}
footer {
  font-family: "Manorope Medium", sans-serif;
}
@font-face {
  font-family: "Manrope Medium";
  src: url("/fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "PlusJakarta";
  src: url("fonts/PlusJakartaSans.ttf") format("truetype");
}
